sample_submission.csv
previous_application.csv
POS_CASH_balance.csv
installments_payments.csv
HomeCredit_columns_description.csv
credit_card_balance.csv
bureau_balance.csv
bureau.csv
application_train.csv
application_test.csv
.ipynb_checkpoints
features.csv
test.gz
data_test_T.csv
data_train_T.csv
data.csv
feats.csv
features_import.csv
pipeline_housing.joblib
shap_explainer.joblib
custumers.csv
data.gz
"~$FANE_Balakissa_3_note_m\303\251thodologique_072022.pptx"
.idea/workspace.xml
FANE_Balakissa_4_presentation_072022.pdf
customers.csv
data_test_T.csv
data_train_T.csv
features.csv
test.gz
data_test_T.csv
data_train_T.csv
data.csv
feats.csv
features_import.csv
pipeline_housing.joblib
shap_explainer.joblib
custumers.csv