TARGET.csv
sample_submission.csv
previous_application.csv
POS_CASH_balance.csv
merged_data.csv
installments_payments.csv
HomeCredit_columns_description.csv
data_train.csv
data_test.csv
data_df.csv
credit_card_balance.csv
bureau_balance.csv
bureau.csv
application_train.csv
application_test.csv
.ipynb_checkpoints
data_train_T.csv
data_test_T.csv
feats.csv
client_id.csv
LGBMClassifier.pkl
features.csv
test.gz
data.csv
Dash.py
Dashboard_old.py
feats.csv
features_import.csv
pipeline_housing.joblib
shap_explainer.joblib
data.gz
Pelec_03_Dash_FANE_Balakissa.ipynb
df.gz
app_test.csv
__pycache__
.idea
custumers.csv
dash.py
custumers.csv